{% extends "admin_templates/admin_header.html"%}
{% block body %}
<div class="jumbotron bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5 text-light">Admin Panel</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
	<div style="float: left">
		<p>
			<h3 class="mt-1">{{ num_challenges }} Challenges</h3>
	  		<h3 class="mt-1">{{ num_users }} People</h3>
	  		<h3 class="mt-1 text-success" >{{ (num_solves/num_tries)*100.0 }} % Correct Submitted</h3>
	  		<h3 class="mt-1 text-danger" >{{ 100-((num_solves/num_tries)*100.0) }} % Incorrect Submitted</h3>
	  	</p>
	</div>
	<div style="float: right;">
		<h2 class="text-center">Solve Count</h2>
		<div class="container" align="center">
		  <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:`{{ graph_size }}px; max-height:{{ graph_size }}px'/>
		</div>
	</div>
	<hr class="my-4" style="border: 0; clear:both; display:block; width: 96%; background-color:#343a40; height: 1px;">
	<h2 class="text-center">Users Registered Over Time</h2>
	<div class="container" align="center">
		<embed type="image/svg+xml" src={{people_overtime_graph|safe}} style='max-width:`{{ graph_size }}px; max-height:{{ graph_size }}px'/>
	</div>
</div>
{% endblock %}