{% extends "header.html" %}
{% block body %}
<div class="mt-5"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin mt-1">
        <div class="card-body">
          <h5 class="card-title text-center">{{ type }}</h5>
          <form class="form-signin" action="" method="post">

            <div class="form-label-group">
              <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}" required autofocus>
            </div>
            <br>
            {% if type == 'Sign Up' %}
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" value="{{request.form.email}}" required>
            </div>
            <br>
            {% endif %}
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}" required>
            </div>
            <br>
            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">{{ type }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% if type == "Log In" %}
  <center>
    <h9>Don't have an Account yet? click <a href="../signup/"> here </a> to sign up</h9>
  </center>
{% else %}
  <center>
    <h9>Already have an Account? click <a href="../login/"> here </a> to login</h9>
  </center>
{% endif %}
{% endblock %}