{% extends "header.html"%}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1 class="mt-5" align="center"><strong>{{ user.username }}</strong></h1>
<h3 class="mt-9" align="center">{{ user.points }} Points</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="mt-9" align="center">Solved</h3>
      <div class="container">
        <div class="list-group">
          {% for challenge in solved_challenges %}
          <a href="#" class="list-group-item">
            <div id="header">
              <h4 style="float: left; width: 50%; text-align: left; color:green;"> {{ challenge.name }} </h4>
              <h4 style="float: left; width: 50%; text-align: right; color:green;"> {{ challenge.points }} </h4>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}